.root{
	-fx-font-family: "courier";
	-fx-background-color:red;
}
#button-round{
	-fx-background-color:linear-gradient(#b3dced, #29b8e5 );
	-fx-background-radius:5em;
	-fx-max-height:25px;
	-fx-max-width:25px;
	-fx-min-height:25px;
	-fx-min-width:25px;
}

#button-search{
	-fx-background-color:linear-gradient(#d2ff52, #91e842);
	-fx-max-width:50px;
	-fx-min-width:50px;
	-fx-max-height:20px;
	-fx-min-height:20px;
}
#name{
	-fx-alignment:center;
	-fx-font-weight:bold;
	-fx-font-size:12px;
	-fx-background-color:white;
	-fx-max-width:100px;
	-fx-min-width:100px;
}
.button:hover{
	-fx-background-color: linear-gradient(#d2ff52, #91e842); 
}
.background{
	-fx-background-color:red;
}
#poke-image{
  	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #84f0fa;
	-fx-max-width:200px;
	-fx-max-height:120px;
	-fx-min-width:200px;
	-fx-min-height:120px;
}
